<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="../statics/css/style1.css">

    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>




    
    


</head>
<body>

    <div class="container d-flex justify-content-between">
        <div class="contact-info d-felx align-items-center py-2">

            <i class="fa fa-envelope-o">
                <a href="samaneh.rezaie74@gmail.com" class="text-dark">samaneh.rezaie74@gmail.com</a>
            </i>
            <i class="fa fa-mobile ml-2">
    
            </i>+98 901 615 4719
        </div>
    




    </div>

    <header class="header sticky-top bg-white shadow-sm">
        <nav class="navbar container navbar-expand-lg  navbar-light">
            
                <a class="navbar-brand" href="#">Online Doctor</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                    <span class="navbar-toggler-icon"></span>
                </button>


                <div class="collapse navbar-collapse justify-content-end" id="collapsibleNavbar">
                    <ul class="navbar-nav">

                      <li class="nav-item">
                        <a class="nav-link" href="#">Home</a>
                      </li>

                      <li class="nav-item">
                        <a class="nav-link" href="#">About</a>
                      </li>

                      <li class="nav-item">
                        <a class="nav-link" href="#">Department</a>
                      </li>  

                      <li class="nav-item">
                        <a class="nav-link" href="#">Doctors</a>
                      </li>  

                      <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">DropdDown</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item">link1</a>
                            <a class="dropdown-item">link2</a>
                            <a class="dropdown-item">link3</a>
                        </div>
                      </li>

                      <li class="nav-item">
                        <a class="nav-link" href="#">Contant</a>
                      </li>
                    </ul>
                  </div> 

                  <div >
                    <button class="btn btn-primary">Make an Appoinment</button>

                  </div>
        </nav>
    </header>

    <section id="hero" class="d-flex align-items-center">
        <div class="container text-muted">
            <h1>WELCOM TO MEDILAB</h1>
            <h3>We are team of Doctors</h3>
            <a class="btn btn-primary rounded-pill mt-5 px-5 scrollto" href="#about">Get Strated</a>

        </div>


    </section>

    <section>
        <div class="main">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 d-flex align-items-stretch rounded text-white" style="background-color: #007aff;">
                        <div class="p-3   ">

                            <h3 class="my-3">Why Choose Medilab?</h3>
                            <p class="my-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab, iste id dicta deleniti quod doloribus magni quis inventore eaque cumque in voluptatem enim porro optio vero, natus at sequi saepe.</p>
    
                            <div class="text-center">
                                <a href="#" class="btn rounded-pill" style="background-color: #1977cc; color:white;">Learn More></a>
    
                            </div>
                        </div>

                        
                    </div>

                    <div class="col-lg-8 d-felx align-items-stretch flex-column justify-content-center">
                        <div class="icon-bocex">
                            <div class="row">
                                <div class="col-xl-4 d-flex align-items-stretch">
                                    <div class="icon-box mt-4 mt-xl-0">
                                        <i class="bx bx-receipt"></i>
                                        <h3 class="my-4">Corporis voluptates sit</h3>
                                        <p class="my-5">Consequuntur sunt aut quasi enim aliquam quae harum pariatur laboris nisi ut aliquip
                                        </p>
                

                                    </div>
                                </div>
                                <div class="col-xl-4 d-flex align-items-stretch">
                                    <div class="p-3   ">

                                        <h3 class="my-3">Why Choose Medilab?</h3>
                                        <p class="my-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab, iste id dicta deleniti quod doloribus magni quis inventore eaque cumque in voluptatem enim porro optio vero, natus at sequi saepe.</p>
                
                                        <div class="text-center">
                                            <a href="#" class="btn rounded-pill" style="background-color: #1977cc; color:white;">Learn More></a>
                
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-4 d-flex align-items-stretch">
                                    <div class="p-3   ">

                                        <h3 class="my-3">Why Choose Medilab?</h3>
                                        <p class="my-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab, iste id dicta deleniti quod doloribus magni quis inventore eaque cumque in voluptatem enim porro optio vero, natus at sequi saepe.</p>
                
                                        <div class="text-center">
                                            <a href="#" class="btn rounded-pill" style="background-color: #1977cc; color:white;">Learn More></a>
                
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>


                    </div>
                    

                </div>

            </div>

        </div>
    </section>

       
    
</body>
</html>